*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

go.work
go.work.sum

.env

# Editor/IDE
# .idea/
# .vscode/

lazyos
lazyos.log
config-example.yml

.devenv*
devenv.local.nix

.direnv

.pre-commit-config.yaml
dist
